---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/screen.css">
    <title>Random Name Generator</title>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="utility.js"></script>
</head>
<body>
    <div x-data="nameGenerator()">
        <h1 x-text="randomName"></h1>
        <button @click="generateName()">Generate Name</button>
    </div>

    <script>
        function nameGenerator() {
            return {
                names: ["Khoi", "Leo", "Thomas", "Natty", "Osmand", "Jess", "Aaron", "Jude", "Sam", "Rami"],
                randomName: "Click the button to see a name!",
                generateName() {
                    this.randomName = this.names[Math.floor(Math.random() * this.names.length)];
                }
            };
        }
    </script>
</body>
</html>